body {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    background-color: aliceblue;
}

header {
    margin-bottom: 54px;
}

main {
    background-color: rgb(109, 76, 136);
    padding: 22px;
    border: 1px solid rgb(88, 60, 110);
    border-radius: 10px;
    text-align: left;
    color: white;
    margin: 26px auto;
    width: 750px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 44px;
    color: rgb(81, 10, 143)
}

img {
    width: 300px;
    display: inline-block;
    
}

ul {
    list-style-type: none;
    padding-left: 5px;
}

li {
    padding: 8px;
}

li.disc {
    list-style-type: disc;
    color: rgb(236, 206, 165);
}

h3 {
    font-size: 25px;
}

a {
    background-color: thistle;
    border-radius: 2px;
    padding: 4px 6px;
    color: black;
}


#footerlink {
    background-color: rgb(216, 216, 49);
    color: black;
}

#copyright {
    font-size: 12px;
}

